<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Anime</title>
    </head>
    <body>
        <h1>Add new Anime and Episodes</h1>
        <div class="mb-3">
            <form id="uplad-form">
                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="description">Anime description:</label>
                <textarea id="m_textbox" name="textbox" rows="4" cols="50"></textarea>
                </div>

                <div class="upload-input">
                <label for="type">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <div class="upload-input">
                <label for="name">Anime name:</label>
                <input type="text" id="name" name="name">
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </body>
</html>